In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [4]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [2]:
df = pd.read_csv('backer_info.csv')

In [5]:
df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [19]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
df['backer_id'] = df['backer_info'].str.extract(
    "([a-z]+\d{3})")

In [28]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
df['cf_id'] = df['backer_info'].str.extract(
    "( \d{2,4})")

In [46]:
# Extract the name from the backer_info column and add it as a new column called "name".
df['name'] = df['backer_info'].str.extract(
    "name\": \"([a-zA-Z]+ [a-zA-Z]+)")

In [54]:
# Extract the email from the backer_info column and add it as a new column called "email".
df['email'] =df['backer_info'].str.extract(
    "email\": \"([a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]+)")

In [64]:
# Create a new DataFrame with the appropriate columns.

df_new = pd.DataFrame()
df_new['backer_id'] = df['backer_id']
df_new['cf_id'] = df['cf_id']
df_new['name'] = df['name']
df_new['email'] = df['email']

In [67]:
df_new.head(10)

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com
5     lh382    563     Lambert Huber        lhuber@live.com
6     em444    563        Emmy Morin        emorin@live.com
7     at582   1572     Armonda Trani        atrani@live.com
8     id772   1911        Ilana Duke      iduke@outlook.com
9     lw275     65     Leigha Wright       lwright@live.com

In [81]:
# Export the DataFrame as a CSV file using encoding='utf8'.
df_new.to_csv('backer_info_updated.csv', encoding='utf8')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [71]:
# Check data types.
df_new.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [72]:
# Convert cf_id to an integer if necessary.
df_new['cf_id'] = df_new['cf_id'].astype(int)

In [78]:
# Split the "name" column into "first_name" and "last_name" columns.
df_new['first_name'] = df_new['name'].str.split(' ',1,expand=True)[0]
df_new['last_name'] = df_new['name'].str.split(' ',1,expand=True)[1]

In [79]:
#  Drop the name column
df_new.drop(columns='name', inplace=True)

# Reorder the columns
df_new = df_new[['backer_id', 'cf_id', 'first_name', 'last_name', 'email']]

In [84]:
# Export the DataFrame as a CSV file using encoding='utf8'.
df_new.to_csv('backers.csv', encoding='utf8', index=False)

In [85]:
df_new.dtypes

backer_id     object
cf_id          int32
first_name    object
last_name     object
email         object
dtype: object